<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chest X-Ray Super-Resolution</title>
</head>
<body>
    <h1>Chest X-Ray Super-Resolution</h1>
    <form action="/super_resolve" method="post" enctype="multipart/form-data">
        <label for="file">Upload a Low-Resolution Chest X-Ray:</label><br><br>
        <input type="file" name="file" id="file" accept="image/png, image/jpeg"><br><br>
        <button type="submit">Super-Resolve</button>
    </form>
</body>
</html>
